
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    padding: 50px;
    background-image: url("/img/image-header.webp");
    background-position: center;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    font-size: 60px;
    font-weight: bold;
    background-color: rgba(255, 0, 0, 0.7);
    padding: 20px;
    text-align: center;
    width: 55%;
    border-radius: 20px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    background: linear-gradient(rgb(41, 41, 41), rgb(19, 19, 70));
    padding: 10px;
}

nav a {
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    border-top: 3px solid transparent;
    transition: border-top 0.3s ease, color 0.3s ease;
}

nav a:hover {
    border-top: 3px solid red;
    color: red;
}

.content {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    gap: 20px;
}
aside {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: linear-gradient(rgb(54, 86, 85), rgb(9, 9, 113));
    padding: 20px;
    color: white;
    border-radius: 10px;
}

.image-aside {
    width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.search-movies {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 50%;
}

.galeria {
    flex: 4;
    background: linear-gradient(rgb(69, 87, 96), rgb(96, 96, 209));
    padding: 20px;
    border-radius: 10px;
}


.container-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px;
    padding: 20px;
}

.card-image {
    background: linear-gradient(to bottom, #1e3c72, #2a5298); 
    border-radius: 15px; 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); 
    width: 200px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    padding: 15px;
    color: #fff; 
}

.card-image:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3); 
}

.card-image img {
    width: 100%;
    height: auto;
    border-radius: 10px; 
    margin-bottom: 10px; 
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.card-image:hover img {
    transform: scale(1.1); 
    opacity: 0.9; 
}

.card-image p {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase; 
    letter-spacing: 1px;
}
.filtro{
    display: none;
}
footer {
    padding: 20px;
    background-color: #373935;
    text-align: center;
    color: white;
}

footer p {
    margin: 0;
    font-size: 12px;
}
.regresar-pag-estrenos{
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

@media screen and (max-width: 500px) {
    header {
        padding: 30px;
        background-size: 90%; 
    }
    header .title-header{
        font-size: 20px;
        padding: 20px;

    }
    nav {
        flex-direction: row;
        gap: 10px;
    }
    aside {
        width: 353px;
    }
    aside p{
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .content {
        flex-direction: column;
        gap: 10px;
    }

    .container-image {
        justify-content: center;
    }
    .galeria{
        width: 354px;
    }
    .galeria .search-movies{
        width: 100%;
    }
    .card-image {
        width: 80%;
    }
    .regresar-pag-estrenos{
        padding: 5px;
        width: 50px;
        transform: scale(1);
        transition: all 0.5s ease;
    }
    .regresar-pag-estrenos:hover{
        transform: scale(1.3);
    }
}